<template>
  <div>
    <v-container fluid fill-height>
      <v-layout row justify-center>
        <v-flex xs12 md12>
          <v-toolbar flat color="white">
            <v-toolbar-title>Estadías</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field>
            <v-dialog v-model="dialog" max-width="1000px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nueva Estadía</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <v-container>
                    <v-layout align-center justify-start row fill-height>
                      <v-flex>
                        <span class="headline">{{ formTitle }}</span>
                      </v-flex>
                      <v-flex>
                        <span class="">{{ msjEstadiaExist }}</span>
                      </v-flex>
                      <v-flex>
                        <span class="">{{ msjClienteExist }}</span>
                      </v-flex>

                    </v-layout>
                  </v-container>
                </v-card-title>
                


                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md3>
                        <v-text-field @blur="checkCliente" ref="patente" maxlength="10" class="text-uppercase input-large" @keydown.space.prevent v-model="editedItem.patente" label="Patente" @input="mayusculas"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-select v-model="selectedTipo" :items="tipos" item-text="tipo" item-value="id" label="Tipo" ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-select v-model="editedItem.modelo_id" :items="filtroModelos" item-text="modelo" item-value="id" label="Modelo" >
                            <template v-slot:selection="data">
                                {{ data.item.marca }} / {{ data.item.modelo }}
                            </template>
                            <template v-slot:item="data">
                                {{ data.item.marca }} / {{ data.item.modelo }}
                            </template>
                        </v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field prepend-icon="monetization_on" v-model="editedItem.precio_unit" @input="filtroTarifas" label="Costo Tarifa" box readonly></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6 md3>
                        <v-select v-model="editedItem.turno_id" :items="turnos" item-text="turno" item-value="id" label="Turno" ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-menu
                            v-model="menuIng"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="dateFormattedIng"
                                label="Fecha de ingreso"
                                prepend-icon="event"
                                readonly
                                v-on="on"
                                @blur="parseAndFocus()"
                                @focus="menuIng=true"
                            ></v-text-field>
                            </template>
                            <v-date-picker
                                locale="es-419"
                                v-model="dateIng"
                                @input="menuIng = false"
                            ></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field ref="dias" v-model="editedItem.dias" type="number" min="1" label="Cant. días"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md3>
                        <v-text-field prepend-icon="event" v-model="dateFormattedSal" @input="calculoFechaSalida" label="Pagado hasta" box readonly></v-text-field>
                      </v-flex>
                      
                      <v-flex xs12 sm6 md4>
                        <v-text-field prepend-icon="monetization_on" v-model="editedItem.abono" type="number" min="0" :max="maxAbono" :step="stepAbono" label="Cant. abonada"></v-text-field>
                      </v-flex>
                       <v-flex xs12 sm6 md4>
                        <v-text-field prepend-icon="monetization_on" v-model="editedItem.debe" type="number" min="0" label="Debe" box readonly></v-text-field>
                       </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field class="input-large input-right" prepend-icon="monetization_on" v-model="editedItem.total" @input="calculoTotal" type="number" min="0" label="Costo Total" box readonly></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md12>
                        <v-textarea auto-grow rows=1 v-model="editedItem.anotacion" label="Nota"></v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search" 
            :pagination.sync="pagination"
            :custom-filter="customFilter"
            class="elevation-1"
          >
            <template v-slot:items="props">
              <tr @click="props.expanded = !props.expanded">
                <td class="text-xs-center font-weight-bold body-2">{{ props.item.patente }}</td>
                <!-- <td class="text-xs-center">{{ props.item.tipo }}</td> -->
                <!-- <td class="text-xs-center">{{ props.item.marca }} / {{ props.item.modelo }}</td> -->
                <!-- <td class="text-xs-center"></td> -->
                <td class="text-xs-center">{{ props.item.dias }}</td>
                <td class="text-xs-center">{{ props.item.total }}</td>
                <td class="text-xs-center">{{ props.item.abono }}</td>
                <td class="text-xs-center" :class="{ 'red--text': props.item.debe > 0 }">{{ props.item.debe }}</td>
                <td class="text-xs-center">{{ props.item.turno }}</td>
                <!-- <td class="text-xs-center">{{ formatDate(props.item.fecha_ing) }}</td> -->
                <td class="text-xs-center">{{ formatDate(props.item.fecha_salida) }}</td>
                <td class="text-xs-center">{{ props.item.anotacion }}</td>
                <td class="justify-center v-layout">
                    <v-icon
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                    @click.native.stop
                    >
                    edit
                    </v-icon>
                    <v-icon
                    small
                    @click="deleteItem(props.item)"
                    @click.native.stop
                    >
                    delete
                    </v-icon>
                </td>
              </tr>
            </template>
            <template v-slot:expand="props">
              <v-card flat>
                <v-card-text>
                  <v-container>
                    <v-layout align-center justify-center row fill-height>
                      <v-flex>
                        <span class="font-weight-medium">Tipo:</span> {{ props.item.tipo }} 
                      </v-flex>
                      <v-flex>
                        <span class="font-weight-medium">Marca / Modelo:</span> {{ props.item.marca }} / {{ props.item.modelo }}
                      </v-flex>
                      <v-flex>
                        <span class="font-weight-medium">Costo Tarifa:</span> {{props.item.precio_unit}}
                      </v-flex>
                      <v-flex>
                        <span class="font-weight-medium"> Fecha de ingreso:</span> {{ formatDate(props.item.fecha_ing) }}
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
            </template>
            <template v-slot:pageText="props">
                {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
            </template>
            <template v-slot:no-data>
              <v-alert :value="true" color="info" icon="info">
                    No hay registros
                    <!-- {{ props.noDataText }} -->
              </v-alert>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Tu busqueda por "{{ search }} " no tuvo resultados.
                <!-- {{ props.noResultsText }} : "{{ search }}" -->
              </v-alert>
            </template>
          </v-data-table>    
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { RepositoryFactory } from './../repositories/RepositoryFactory'
import moment from 'moment'
const EstadiasRepository = RepositoryFactory.get('estadias')
const TurnosRepository = RepositoryFactory.get('turnos')
const TarifasRepository = RepositoryFactory.get('tarifas')
const ModelosRepository = RepositoryFactory.get('modelos')
const TipoVehiculosRepository = RepositoryFactory.get('tipovehiculos')
const ClientesRepository = RepositoryFactory.get('clientes')
  export default {
    data() {//con data defino que datos va a usar mi aplicacion
         return {
            //combos
            turnos: [],
            tarifas: [],
            modelos: [],
            tipos: [],
            //date-picker
            menuIng: false,
            dateIng: moment(new Date()).format('YYYY-MM-DD'),
            dateFormattedIng: this.formatDate(moment(new Date()).format('YYYY-MM-DD')),
            dateSal: null,//calculoFechaSalida(),
            dateFormattedSal: null,
            // stepAbono: null,
            // maxAbono: null,
            msjClienteExist: null,
            msjEstadiaExist: null,
            nuevoCliente: false,
            
            edit: false,  //para el boton de editar
            //datatable
            pagination: {
                rowsPerPage: 10,
                sortBy: "id",
                descending: true
            },
            // rowsPPText: "Registros por página",
            dialog: false,
            headers: [
                { text: 'Patente', value: 'patente', align: 'center' },
                // { text: 'Tipo', value: 'tipo', align: 'center', width: '130px' },
                // { text: 'Marca/Modelo', value: 'marca', align: 'center' },
                // { text: 'Modelo', value: 'modelo', align: 'center' },
                { text: 'Días', value: 'dias', align: 'center' },
                { text: 'Total ($)', value: 'total', align: 'center' },
                { text: 'Cant. abonada ($)', value: 'abono', align: 'center' },
                { text: 'Debe ($)', value: 'debe', align: 'center' },
                { text: 'Turno Ing.', value: 'turno', align: 'center' },
                // { text: 'Ingreso', value: 'fecha_ing', align: 'center', width: '130px' },
                { text: 'Pagado hasta', value: 'fecha_salida', align: 'center', width: '130px' },
                { text: 'Nota', value: 'anotacion', align: 'center' },
                { text: 'Acciones', value: 'name', align: 'center', sortable: false }
            ],
            desserts: [],
            selectedTipo: null,
            editedItem: {
                tarifa_id: 0,
                turno_id: 0,
                modelo_id: 0,
                patente: "",
                precio_unit: 0,
                total: 0,
                abono: 0,
                debe: 0,
                fecha_ing: null,
                fecha_salida: null,
                anotacion: "",
                dias: 1
                // turno: "",
                // "tipo": "auto",
                // "marca": "Peugeot",
                // "modelo": "206"
            },
            defaultItem: {
                tarifa_id: 0,
                turno_id: 0,
                modelo_id: 0,
                patente: "",
                precio_unit: 0,
                total: 0,
                abono: 0,
                debe: 0,
                fecha_ing: null,
                fecha_salida: null,
                anotacion: "",
                dias: 1
            },
            search: '',
            cliente: {
                modelo_id: 0,
                patente: ""
            },
            defaultCliente: {
                modelo_id: 0,
                patente: ""
            }
         }
    },

    computed: {
      formTitle () {
        return this.edit === false ? 'Nueva estadía' : 'Editar estadía'
      },
      filtroModelos() {
          let options = this.modelos
          let result = options.filter(mod => {
                return mod.tipo_id == this.selectedTipo
            })
        return result
      },
      filtroTarifas() {
        //   console.log(this.tarifas)
          let options = this.tarifas
          let result = options.filter(tar => {
                    return tar.tipo_id == this.selectedTipo
                })
            if (result && result.length) {
                // console.log(result[0].precio)
                this.editedItem.precio_unit = result[0].precio
                // console.log(result[0])
                this.editedItem.tarifa_id = result[0].id
                // if(this.editedItem.precio_unit){
                //     this.stepAbono = this.editedItem.precio_unit
                // }
            } else {
                this.editedItem.precio_unit = 0
            }
        //   return result
      },
      calculoTotal(){
          this.editedItem.total = this.editedItem.precio_unit * this.editedItem.dias
          this.editedItem.debe = this.editedItem.total - this.editedItem.abono
      },
      stepAbono(){
          if(this.editedItem.precio_unit){
                return this.editedItem.precio_unit
            }
          return 0
      },
      maxAbono(){
          if(this.editedItem.total){
              return this.editedItem.total
          }
          return 0
      },
      calculoFechaSalida(){
        //   let now = moment().format('YYYY-MM-DD')
          this.dateSal = moment(this.dateIng).add(this.editedItem.dias,'days')
          this.dateFormattedSal = this.formatDate(this.dateSal)
          this.dateSal = this.dateSal.format('YYYY-MM-DD')
      },
      mayusculas(){
          this.editedItem.patente = this.editedItem.patente.toUpperCase()
      }
    },

    watch: {
      dialog (val) {
        this.$nextTick( () => {this.$refs.patente.focus()})
        this.msjClienteExist = '' //limpio el mensaje de cliente
        this.msjEstadiaExist = ''
        val || this.close()
      },
      dateIng (val) {
        this.dateFormattedIng = this.formatDate(this.dateIng) //cambia dateFormated cuando cambia date
      }
    },

    mounted(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getEstadias()
        this.getTurnos()
        this.getTarifas()
        this.getModelos()
        this.getTipoVehiculos()
    },

    methods: {
        checkCliente(){
            this.checkClienteExist()
            this.checkClienteEstadia()
        },
        checkClienteEstadia(){
            if (this.edit === false){
                let options = this.desserts
                let result = options.filter(est => {
                            return est.patente == this.editedItem.patente
                        })
                    if (result && result.length) {
                        this.msjEstadiaExist = 'Estadía ya registrada'
                    } else {
                        this.msjEstadiaExist = ''
                    }
            }
        },
        async addCliente(body){
            await ClientesRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Cliente',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                // this.getEstadias()
            })
        },
        checkClienteExist(){
            console.log(this.edit)
            if (this.edit === false){//significa que es una nueva estadia
                ClientesRepository.getByPatente(this.editedItem.patente)
                .then(res =>{
                    if(res.data){
                        // console.log(res.data)
                        if(res.data.cobrar == 1){
                            // this.msjClienteExist = 'Cliente Registrado'
                            this.nuevoCliente = false
                            this.selectedTipo = res.data.tipo_id
                            this.editedItem.modelo_id = res.data.modelo_id
                        } else {
                            this.msjClienteExist = 'No cobrar, personal'
                        }
                    } else {
                        this.msjClienteExist = ''
                        // this.msjClienteExist = 'Nuevo Cliente'
                        this.nuevoCliente = true
                    }
                })
            }
        },
        customFilter(items, search) {
            return items.filter(dessert => JSON.stringify(dessert).toLowerCase().indexOf(search.toLowerCase()) !== -1)
        },
        parseAndFocus(){
            this.dateIng = this.parseDate(this.dateFormattedIng)
            this.$nextTick( () => {this.$refs.dias.focus()})
        },
        formatDate(date){
            if (date){
                // return moment(date).format('DD-MM-YYYY HH:mm:ss')
                return moment(date).format('DD-MM-YYYY')
            }
            return 'NN'
        },
        parseDate (date) {
            if (!date) return null
            const [day, month, year] = date.split('-')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
            // return moment(date).format('YYYY-MM-DD')
        },
        async getTipoVehiculos(){
            await TipoVehiculosRepository.get()
            .then(res => {
                // console.log(res)
                this.tipos = res.data
            })
        },
        getModelos(){
            ModelosRepository.get()
            .then(res => {
                // console.log(res.data)
                this.modelos = res.data
            })
        },
        getTarifas(){
            TarifasRepository.get()
            .then(res => {
                // console.log(res.data)
                this.tarifas = res.data
            })
        },
        async getTurnos(){
            await TurnosRepository.get()
            .then(res => {
                // console.log(res)
                this.turnos = res.data
            })
        },
        async getEstadias(){
            await EstadiasRepository.get()
            .then(res => {
                // console.log(res)
                this.desserts = res.data
            })
        },
        async deleteEstadia(id){
            // console.log(id)
            await EstadiasRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Eliminación de Estadía',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                // this.$dialog.message.info('Test', {
                //     position: 'bootom-right'
                // })
                this.getEstadias()
            })
        },
        async addEstadia(body){
            await EstadiasRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Estadia',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getEstadias()
            })
        },
        async updateEstadia(id, body){
            await EstadiasRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Estadía',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getEstadias()
                // this.edit = false
            })
        },

        editItem (item) {
            this.edit = true
            // console.log(item)
            // this.editedItem = Object.assign({}, item)
            this.selectedTipo = item.tipo_id

            this.editedItem.id = item.id
            this.editedItem.tarifa_id = item.tarifa_id
            this.editedItem.turno_id = item.turno_id
            this.editedItem.modelo_id = item.modelo_id
            this.editedItem.patente = item.patente
            this.editedItem.precio_unit = item.precio_unit
            this.editedItem.total = item.total
            this.editedItem.abono = item.abono
            this.editedItem.debe = item.debe
            this.editedItem.fecha_ing = this.dateIng
            this.editedItem.fecha_salida = this.dateSal
            this.editedItem.anotacion = item.anotacion
            this.editedItem.dias = item.dias
            
            this.dialog = true
        },

        deleteItem (item) {
            // const index = this.desserts.indexOf(item)
            confirm('Confirma que desea eliminar esta estadía?') && 
            this.deleteEstadia(item.id)
        },

        close () {
            this.dialog = false
            setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem)//limpio onjeto estadia
            this.cliente = Object.assign({}, this.defaultCliente)//limpio objeto cliente
            this.nuevoCliente = false
            this.selectedTipo = null //limpio el tipo y por ende los costos
            this.edit = false
            }, 300)
        },

        save () {
            if (this.edit) {
                // Object.assign(this.desserts[this.editedIndex], this.editedItem)
                this.updateEstadia(this.editedItem.id, this.editedItem)
            } else {
                // this.desserts.push(this.editedItem)
                this.editedItem.fecha_ing = this.dateIng
                this.editedItem.fecha_salida = this.dateSal
                // console.log(this.editedItem)
                this.addEstadia(this.editedItem)
                //agrego un nuevo cliente si corresponde
                if (this.nuevoCliente) {
                    this.cliente.modelo_id = this.editedItem.modelo_id
                    this.cliente.patente = this.editedItem.patente
                    this.addCliente(this.cliente)
                }
            }
            this.close()
        }
    }
  }
</script>
<style>
/* .input-uppercase input{
  text-transform: uppercase
} */
.input-large input {
  height: 40px;
  font-size: 20pt;
}
.input-right input {
  text-align: center
}
</style>

