<template>
  <div class="home">
    <h1>Home page</h1>
  </div>
</template>

<script>
  // import HelloWorld from '../components/HelloWorld'

  // export default {
  //   components: {
  //     HelloWorld
  //   }
  // }
</script>
