<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex xs12 md4>
          <v-toolbar flat color="white">
            <v-toolbar-title>Marcas</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <!-- <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field> -->
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nueva Marca</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.marca" label="Marca"></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search" 
            class="elevation-1"
          >
            <template v-slot:items="props">
              <!-- <td>{{ props.item.name }}</td> -->
              <td class="text-xs-center">{{ props.item.marca }}</td>
              <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)"
                >
                  edit
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(props.item)"
                >
                  delete
                </v-icon>
              </td>
            </template>
            <template v-slot:no-data>
              <!-- <v-btn color="primary" @click="initialize">Reset</v-btn> -->
              <v-alert :value="true" color="info" icon="info">
                    No hay registros
              </v-alert>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </template>
          </v-data-table>    
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { RepositoryFactory } from './../repositories/RepositoryFactory'
const MarcasRepository = RepositoryFactory.get('marcas')
  export default {
    data() {//con data defino que datos va a usar mi aplicacion
         return {
            
            edit: false,  //para el boton de editar
            //datatable
            dialog: false,
            headers: [
                { text: 'Marcas', value: 'marca', align: 'center' },
                { text: 'Acciones', value: 'name', align: 'center', sortable: false }
            ],
            desserts: [],
            editedItem: {
                marca: ''
            },
            defaultItem: {
                marca: ''
            },
            search: ''
         }
    },

    computed: {
      formTitle () {
        return this.edit === false ? 'Nueva marca de vehículo' : 'Editar marca de vehículo'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    // created () {
    //   this.initialize()
    // },
    mounted(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getMarcas()
    },

    methods: {
        async getMarcas(){
            await MarcasRepository.get()
            .then(res => {
                // console.log(res)
                this.desserts = res.data
            })
        },
        async deleteMarca(id){
            // console.log(id)
            await MarcasRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Eliminación de Marca',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                // this.$dialog.message.info('Test', {
                //     position: 'bootom-right'
                // })
                this.getMarcas()
            })
        },
        async addMarca(body){
            await MarcasRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Marca',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getMarcas()
            })
        },
        async updateMarca(id, body){
            await MarcasRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Marca',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getMarcas()
                // this.edit = false
            })
        },

        editItem (item) {
            this.edit = true
            this.editedItem = Object.assign({}, item)
            // this.editedItem = item
            this.dialog = true
        },

        deleteItem (item) {
            // const index = this.desserts.indexOf(item)
            // confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            this.deleteMarca(item.id)
        },

        close () {
            this.dialog = false
            setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem)
            // this.editedItem = this.defaultItem
            this.edit = false
            }, 300)
        },

        save () {
            if (this.edit) {
                // Object.assign(this.desserts[this.editedIndex], this.editedItem)
                this.updateMarca(this.editedItem.id, this.editedItem)
            } else {
                // this.desserts.push(this.editedItem)
                this.addMarca(this.editedItem)
            }
            this.close()
        }
    }
  }
</script>
