<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex xs12 md6>
          <v-toolbar flat color="white">
            <v-toolbar-title>Modelos</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <!-- <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field> -->
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo Modelo</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-text-field v-model="editedItem.modelo" label="Modelo"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-select v-model="editedItem.marca_id" :items="marcas" item-text="marca" item-value="id" label="Marca" ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-select v-model="editedItem.tipo_id" :items="tipos" item-text="tipo" item-value="id" label="Tipo" ></v-select>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search" 
            class="elevation-1"
          >
            <template v-slot:items="props">
              <!-- <td>{{ props.item.name }}</td> -->
              <td class="text-xs-center">{{ props.item.modelo }}</td>
              <td class="text-xs-center">{{ props.item.marca }}</td>
              <td class="text-xs-center">{{ props.item.tipo }}</td>
              <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)"
                >
                  edit
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(props.item)"
                >
                  delete
                </v-icon>
              </td>
            </template>
            <template v-slot:no-data>
              <!-- <v-btn color="primary" @click="initialize">Reset</v-btn> -->
              <v-alert :value="true" color="info" icon="info">
                    No hay registros
              </v-alert>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </template>
          </v-data-table>    
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { RepositoryFactory } from './../repositories/RepositoryFactory'
const MarcasRepository = RepositoryFactory.get('marcas')
const TipoVehiculosRepository = RepositoryFactory.get('tipovehiculos')
const ModelosRepository = RepositoryFactory.get('modelos')
  export default {
    data() {//con data defino que datos va a usar mi aplicacion
         return {
            marcas: null,
            // selectedMarca: null,
            tipos: null,
            // selectedTipo: null,
            edit: false,  //para el boton de editar
            //datatable
            dialog: false,
            headers: [
                { text: 'Modelos', value: 'modelo', align: 'center' },
                { text: 'Marcas', value: 'marca', align: 'center' },
                { text: 'Tipos', value: 'tipo', align: 'center' },
                { text: 'Acciones', value: 'name', align: 'center', sortable: false }
            ],
            desserts: [],
            editedItem: {
                marca_id: 0,
                tipo_id: 0,
                modelo: ""
            },
            defaultItem: {
                marca_id: 0,
                tipo_id: 0,
                modelo: ""
            },
            search: ''
         }
    },

    computed: {
      formTitle () {
        return this.edit === false ? 'Nuevo modelo de vehículo' : 'Editar modelo de vehículo'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    // created () {
    //   this.initialize()
    // },
    mounted(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getModelos()
        this.getMarcas()
        this.getTipoVehiculos()
    },

    methods: {
        async getTipoVehiculos(){
            await TipoVehiculosRepository.get()
            .then(res => {
                // console.log(res)
                this.tipos = res.data
            })
        },
        async getMarcas(){
            await MarcasRepository.get()
            .then(res => {
                // console.log(res.data)
                this.marcas = res.data
            })
        },
        async getModelos(){
            await ModelosRepository.get()
            .then(res => {
                // console.log(res)
                this.desserts = res.data
            })
        },
        async deleteModelo(id){
            // console.log(id)
            await ModelosRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Eliminación de Modelo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                // this.$dialog.message.info('Test', {
                //     position: 'bootom-right'
                // })
                this.getModelos()
            })
        },
        async addModelo(body){
            await ModelosRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Modelo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getModelos()
            })
        },
        async updateModelo(id, body){
            await ModelosRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Modelo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getModelos()
                // this.edit = false
            })
        },

        editItem (item) {
            this.edit = true
            this.editedItem.id = item.id
            this.editedItem.modelo = item.modelo
            this.editedItem.tipo_id = item.tipo_id
            this.editedItem.marca_id = item.marca_id
            
            // this.selectedTipo = item.tipo_id
            // this.selectedMarca = item.marca_id
            // console.log(this.editedItem)
            this.dialog = true
        },

        deleteItem (item) {
            // confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            this.deleteModelo(item.id)
        },

        close () {
            this.dialog = false
            setTimeout(() => {
                // this.selectedTipo = null
                // this.selectedMarca = null
                // this.editedItem = {id: 0, tipo_id: 0, marca_id: 0, modelo: ""}
                this.editedItem = Object.assign({}, this.defaultItem)
                // console.log(this.editedItem)
                this.edit = false
            }, 300)
        },

        save () {
            // this.editedItem.tipo_id = this.selectedTipo
            // this.editedItem.marca_id = this.selectedMarca
            if (this.edit) {
                // console.log(this.editedItem)
                this.updateModelo(this.editedItem.id, this.editedItem)
            } else {
                // console.log(this.editedItem)
                this.addModelo(this.editedItem)
            }
            this.close()
        }
    }
  }
</script>