<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex xs12 md6>
          <v-toolbar flat color="white">
            <v-toolbar-title>Tarifas</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <!-- <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field> -->
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nueva Tarifa</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md6>
                        <v-select v-model="editedItem.tipo_id" :items="tipos" item-text="tipo" item-value="id" label="Tipo" ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md6>
                        <v-text-field v-model="editedItem.precio" type="number" min="0" label="Precio"></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                  <v-btn color="blue darken-1" flat @click="save">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search" 
            class="elevation-1"
          >
            <template v-slot:items="props">
              <td class="text-xs-center">{{ props.item.tipo }}</td>
              <td class="text-xs-center">{{ props.item.precio }}</td>
              <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)"
                >
                  edit
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(props.item)"
                >
                  delete
                </v-icon>
              </td>
            </template>
            <template v-slot:no-data>
              <v-alert :value="true" color="info" icon="info">
                    No hay registros
              </v-alert>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </template>
          </v-data-table>    
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { RepositoryFactory } from './../repositories/RepositoryFactory'
const TarifasRepository = RepositoryFactory.get('tarifas')
const TipoVehiculosRepository = RepositoryFactory.get('tipovehiculos')
  export default {
    data() {//con data defino que datos va a usar mi aplicacion
         return {
            tipos: null,
            // selectedTipo: null,
            edit: false,  //para el boton de editar
            //datatable
            dialog: false,
            headers: [
                { text: 'Tipo', value: 'tipo', align: 'center' },
                { text: 'Precio', value: 'precio', align: 'center' },
                { text: 'Acciones', value: 'name', align: 'center', sortable: false }
            ],
            desserts: [],
            editedItem: {
                // tipo_id: 1,
                // tiempo_id: 1,
                // tipo: "",
                precio: 0,
                tipo_id: 0,
                tiempo_id: 1
                // fecha: "",
                // tiempo: ""
            },
            defaultItem: {
                // tipo: "",
                precio: 0,
                tipo_id: 0,
                tiempo_id: 1,
                // fecha: "",
                // tiempo: ""
            },
            search: ''
         }
    },

    computed: {
      formTitle () {
        return this.edit === false ? 'Nueva tarifa' : 'Editar tarifa'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    mounted(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getTarifas()
        this.getTipoVehiculos()
    },

    methods: {
        async getTipoVehiculos(){
            await TipoVehiculosRepository.get()
            .then(res => {
                // console.log(res)
                this.tipos = res.data
            })
        },
        async getTarifas(){
            await TarifasRepository.get()
            .then(res => {
                // console.log(res.data)
                this.desserts = res.data
            })
        },
        async deleteTarifa(id){
            await TarifasRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Eliminación de Tarifa',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTarifas()
            })
        },
        async addTarifa(body){
            await TarifasRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Tarifa',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTarifas()
            })
        },
        async updateTarifa(id, body){
            await TarifasRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Tarifa',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTarifas()
            })
        },

        editItem (item) {
            this.edit = true
            // this.editedItem = item
            // this.editedItem = Object.assign({}, item)
            this.editedItem.id = item.id
            this.editedItem.precio = item.precio
            this.editedItem.tipo_id = item.tipo_id
            this.editedItem.tiempo_id = item.tiempo_id

            // this.selectedTipo = this.editedItem.tipo_id
            this.dialog = true
        },

        deleteItem (item) {
            this.deleteTarifa(item.id)
        },

        close () {
            this.dialog = false
            setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem) //limpio edited item
            // this.editedItem = {id: 0, tiempo_id: 1, tipo_id: 0, valor: 0}
            // console.log(this.editedItem)
            // this.selectedTipo = null
            this.edit = false
            }, 300)
        },

        save () {
            if (this.edit) {
                this.updateTarifa(this.editedItem.id, this.editedItem)
            } else {
                // console.log(this.selectedTipo)
                // this.editedItem.tipo_id = this.selectedTipo
                // console.log(this.editedItem)
                this.addTarifa(this.editedItem)
            }
            this.close()
        }
    }
  }
</script>
