<template>
    <div>
        <v-container>
            <v-layout>
                <v-flex>
                    <TipoVehiculos></TipoVehiculos>
                    <Tarifas></Tarifas>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import Tarifas from './Tarifas'
import TipoVehiculos from './TipoVehiculos'
export default {
    components: {
        Tarifas,
        TipoVehiculos
    }
}
</script>

<style>

</style>
