<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex xs12 md4>
          <v-toolbar flat color="white">
            <v-toolbar-title>Tipos de Vehículos</v-toolbar-title>
            <v-divider
              class="mx-2"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <!-- <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar"
                single-line
                hide-details
            ></v-text-field> -->
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo Tipo</v-btn>
              </template>
              <v-card>
                <v-form ref="form">
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap justify-center>
                        <v-flex xs12 sm6 md6>
                          <v-text-field
                            v-model="editedItem.tipo"
                            label="Tipo"
                            hint="Ej: auto"
                            :rules="rules.tipo"
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                    <v-btn color="blue darken-1" flat @click="save" :disabled="!formIsValid">Guardar</v-btn>
                  </v-card-actions>
                </v-form>
              </v-card>
            </v-dialog>
          </v-toolbar>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search" 
            class="elevation-1"
          >
            <template v-slot:items="props">
              <!-- <td>{{ props.item.name }}</td> -->
              <td class="text-xs-center">{{ props.item.tipo }}</td>
              <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)"
                >
                  edit
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(props.item)"
                >
                  delete
                </v-icon>
              </td>
            </template>
            <template v-slot:no-data>
              <!-- <v-btn color="primary" @click="initialize">Reset</v-btn> -->
              <v-alert :value="true" color="info" icon="info">
                    No hay registros
              </v-alert>
            </template>
            <template v-slot:no-results>
              <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </template>
          </v-data-table>    
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import { RepositoryFactory } from './../repositories/RepositoryFactory'
const TipoVehiculosRepository = RepositoryFactory.get('tipovehiculos')
  export default {
    data() {//con data defino que datos va a usar mi aplicacion
         return {
            tipovehiculo: {
                tipo: ''
            },
            tipovehiculos: [],//defino un arreglo para cargar todos los tipos de vehiculos del listado
            tipovehiculoToEdit: '', //para guardar el id del tipo a editar
            
            edit: false,  //para el boton de editar
            //datatable
            dialog: false,
            headers: [
                { text: 'Tipos', value: 'tipo', align: 'center' },
                { text: 'Acciones', value: 'name', align: 'center', sortable: false }
            ],
            desserts: [],
            editedItem: {
                tipo: ''
            },
            defaultItem: {
                tipo: ''
            },
            search: '',

            //validation
            rules: {
                    tipo: [val => (val || '').length > 0 || 'Se requiere este campo']
                  },
         }
    },

    computed: {
      formTitle () {
        return this.edit === false ? 'Nuevo tipo de vehículo' : 'Editar tipo de vehículo'
      },
      formIsValid () {
        return (
          this.editedItem.tipo
        )
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    // created () {
    //   this.initialize()
    // },
    mounted(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getTipoVehiculos()
    },

    methods: {
        async getTipoVehiculos(){
            await TipoVehiculosRepository.get()
            .then(res => {
                // console.log(res)
                this.desserts = res.data
            })
        },
        async deleteTipoVehiculo(id){
            // console.log(id)
            await TipoVehiculosRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Eliminación de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                // this.$dialog.message.info('Test', {
                //     position: 'bootom-right'
                // })
                this.getTipoVehiculos()
            })
        },
        async addTipoVehiculo(body){
            await TipoVehiculosRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTipoVehiculos()
            })
        },
        async updateTipoVehiculo(id, body){
            await TipoVehiculosRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTipoVehiculos()
                // this.edit = false
            })
        },
        // async editTipoVehiculo(id){
        //     console.log(id)
        //     await TipoVehiculosRepository.getById(id)
        //     .then(res => {
        //         this.tipovehiculo.tipo = res.data.tipo
        //         this.tipovehiculoToEdit = res.data.id
        //         this.edit = true //indico que estoy editando para cambiar el boton de crear por modificar
        //         this.$notify({
        //                 group: 'mensajes',
        //                 title: 'Modificacion de Tipo',
        //                 text: `Está por modificar ${this.tipovehiculo.tipo}`,
        //                 type: 'warn'
        //             })
        //     })
        // },

        editItem (item) {
            this.edit = true
            this.editedItem = Object.assign({}, item)
            // this.editedItem = item
            this.dialog = true
        },

        deleteItem (item) {
            // const index = this.desserts.indexOf(item)
            // confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
            this.deleteTipoVehiculo(item.id)
        },

        close () {
            this.dialog = false
            setTimeout(() => {
            this.editedItem = Object.assign({}, this.defaultItem) //limpio edited item
            this.$refs.form.reset() //limpio el form de los mensajes
            this.edit = false
            }, 300)
        },

      save () {
        if (this.edit) {
            // Object.assign(this.desserts[this.editedIndex], this.editedItem)
            this.updateTipoVehiculo(this.editedItem.id, this.editedItem)
        } else {
            // this.desserts.push(this.editedItem)
            this.addTipoVehiculo(this.editedItem)
        }
        this.close()
      }
    }
  }
</script>
