<template>
    <div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form @submit.prevent="sendTipoVehiculo">
                                <div class="form-group">
                                    <input type="text" name="tipo"
                                    v-model="tipovehiculo.tipo"
                                    placeholder="Agregue un tipo de vehiculo" class="form-control">
                                </div>
                                <template v-if="edit === false">
                                    <button type="submit" class="btn btn-primary">
                                        Crear Tipo
                                    </button>
                                </template>
                                <template v-else>
                                    <button type="submit" class="btn btn-secondary">
                                        Modificar Tipo
                                    </button>
                                </template>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <table class="table table-bordered table-over">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="tipovehiculo of tipovehiculos" v-bind:key="tipovehiculo.id">
                                <td>{{tipovehiculo.tipo}}</td>
                                <td>
                                    <button @click="deleteTipoVehiculo(tipovehiculo.id)" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                    <button @click="editTipoVehiculo(tipovehiculo.id)" class="btn btn-secondary">
                                        Modificar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// class TipoVehiculo {
//     constructor(tipo) {
//         this.tipo = tipo
//     }
// }
// new TipoVehiculo('auto')
import { RepositoryFactory } from './../repositories/RepositoryFactory'
const TipoVehiculosRepository = RepositoryFactory.get('tipovehiculos')

export default {
    // name: 'TipoVehiculos',
    data() {//con data defino que datos va a usar mi aplicacion
         return {
             tipovehiculo: {
                 tipo: ''
             },
             tipovehiculos: [],//defino un arreglo para cargar todos los tipos de vehiculos del listado
             edit: false,  //para el boton de editar
             tipovehiculoToEdit: '' //para guardar el id del tipo a editar
         }
    },
    created(){ //created se ejecuta ni bien la aplicacion esta cargando
        this.getTipoVehiculos()
    },
    methods: {//aca defino los eventos por medio de metodos
        async getTipoVehiculos(){
            await TipoVehiculosRepository.get()
            .then(res => {
                // console.log(res)
                this.tipovehiculos = res.data
            })
        },
        async sendTipoVehiculo(){ //este método va a ir en submit del form
            // console.log(this.tipovehiculo) // me fijo el contenido de tipovehiculo definido en data()
            if (this.edit === false){
                await this.addTipoVehiculo(this.tipovehiculo)
            } else {
                await this.updateTipoVehiculo(this.tipovehiculoToEdit, this.tipovehiculo)
            }
            this.tipovehiculo.tipo = '' //para limpiar el campo una vez enviado los datos
        },
        async deleteTipoVehiculo(id){
            // console.log(id)
            await TipoVehiculosRepository.delete(id)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Elimnación de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTipoVehiculos()
            })
        },
        async addTipoVehiculo(body){
            await TipoVehiculosRepository.post(body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Alta de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTipoVehiculos()
            })
        },
        async updateTipoVehiculo(id, body){
            await TipoVehiculosRepository.put(id, body)
            .then(res => {
                // console.log(res.data)
                this.$notify({
                    group: 'mensajes',
                    title: 'Modificación de Tipo',
                    text: `${res.data.status}`,
                    type: 'success'
                })
                this.getTipoVehiculos()
                this.edit = false
            })
        },
        async editTipoVehiculo(id){
            // console.log(id)
            // console.log(id)
            await TipoVehiculosRepository.getById(id)
            .then(res => {
                // console.log(data)
                this.tipovehiculo.tipo = res.data.tipo
                this.tipovehiculoToEdit = res.data.id
                // console.log(this.tipovehiculo)
                this.edit = true //indico que estoy editando para cambiar el boton de crear por modificar
                this.$notify({
                        group: 'mensajes',
                        title: 'Modificacion de Tipo',
                        text: `Está por modificar ${this.tipovehiculo.tipo}`,
                        type: 'warn'
                    })
            })
        }
    }
}
</script>