<template>
  <v-toolbar>
    <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
    <v-toolbar-title>ParkingRES</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat>Link One</v-btn>
      <v-btn flat>Link Two</v-btn>
    </v-toolbar-items>


    <v-menu offset-y>
        <v-btn flat slot="activator" color="grey">
            <v-icon right>expand_more</v-icon>
            <span>Administracion</span>
        </v-btn>
        <v-list>
            <v-list-tile
                v-for="(link, index) in adminlinks"
                :key="link.text"
                router :to="link.route"
                >
                <v-list-tile-title>{{ link.text }}</v-list-tile-title>
                </v-list-tile>
        </v-list>
    </v-menu>

  </v-toolbar>
</template>

<script>
  export default {
    data: () => ({
      adminlinks: [
          {text:'Tipos de vehiculos' , route:'/tipovehiculos'},
          {text:'Tarifas' , route:'/tarifas'},
          {text:'Marcas' , route:'/marcas'},
          {text:'Modelos' , route:'/modelos'}
      ]
    })
  }
</script>